<div class="book-params">
    <table>
        <tbody data-bind="using: params">
            <tr><td>Property</td><td><input type="number" data-bind="value: propertyId"/></td></tr>
            <tr><td>Room number</td><td><input type="number" data-bind="value: roomNumber"/></td></tr>
            <tr><td>Date</td><td><input type="date" data-bind="value: dateFrom"/></td></tr>
            <tr><td></td><td><button data-bind="click: $component.refreshFunction">Pretraga</button></td></tr>
        </tbody>
    </table>
</div>