
<div id="infos">
    <!-- ko component: {
        name: "book-params",
        params: { params: params, refreshFunction: refreshFunction }
        } -->
    <!-- /ko -->
    <!-- ko component: {
        name: "book-details",
        params: { reservation: selectedRes, checkedId: checkedId }
        } -->
    <!-- /ko -->
    <div class="legend-container">
        <!-- ko component: {
            name: "legend",
            params: { legendItems: legendItems }
        } -->
        <!-- /ko -->
    </div>
</div>
<!-- ko if: !loaded() -->
<loading></loading>
<!-- /ko -->
<!-- ko if: loaded() -->
<table class="book-table">
    <thead>

        <!--<tr>
            <td colspan="32">

            </td>
        </tr>-->

        <tr class="book-row-datumi">
            <td class="idHotela">
                <p>ID <br> hotela</p>
            </td>
            <td class="brSobe">
                <p>Broj <br> sobe</p>
            </td>
            <!-- ko foreach: dates -->
            <td data-bind="class: dateClass">
                <p>
                    <span data-bind="text: (date.getUTCDate()) + '.' + (date.getUTCMonth() + 1) + '.' "></span>
                    <br>
                    <span data-bind="text: date.getFullYear() + '.'"></span>
                </p>
            </td>
            <!-- /ko -->
        </tr>
    </thead>
    <tbody data-bind="foreach: {data: reservationRows, as: 'row'} ">
        <!-- ko component: {
        name: "book-row",
        params: { reservationRow: row, checkedId: $component.checkedId }
        } -->
        <!-- /ko -->
        <!--<book-row params="reservationRow: $data"></book-row>-->
        <!--<tr><td><h3 data-bind="text: propertyId"></h3></td></tr>-->
    </tbody>
</table>
<!-- /ko -->