<table class="book-table">
    <thead>
        <tr>
            <td>
                <p>ID hotela</p>
            </td>
            <td>
                <p>Vrsta sobe</p>
            </td>
            <!-- ko foreach: dates -->
            <td>
                <p data-bind="text: $data"></p>
            </td>
            <!-- /ko -->
        </tr>
    </thead>
    <tbody data-bind="foreach: {data: reservationRows, as: 'reservationRow'} ">
        <book-row params="reservationRow: reservationRow"></book-row>
    </tbody>
</table>