<p>
    CheckedId: <span data-bind="text: checkedId"> </span>
</p>
<div data-bind="if: displayDetails">
    <p data-bind="with: selectedRes">
        Name: <span data-bind="text: guest.Name"> </span> <span data-bind="text: guest.Surname"> </span><br />
        startDate: <span data-bind="text: startDate"> </span> <br />
        endDate: <span data-bind="text: endDate"> </span>
    </p>
</div>
<table class="book-table">
    <thead>
        <tr class="book-row-datumi">
            <td>
                <p>ID hotela</p>
            </td>
            <td>
                <p>Broj sobe</p>
            </td>
            <!-- ko foreach: dates -->
            <td>
                <p data-bind="text: $data"></p>
            </td>
            <!-- /ko -->
        </tr>
    </thead>
    <tbody data-bind="foreach: reservationRows">
        <tr class="book-row">
            <td class="book-bar-td">
                <h3 data-bind="text: propertyId"></h3>
            </td>
            <td class="book-bar-td">
                <h3 data-bind="text: roomNumber"></h3>
            </td>
            <!-- ko foreach: reservations -->
            <!-- ko foreach: offsetArray -->
            <td></td>
            <!-- /ko -->
            <td class="book-bar-td" data-bind="attr: { colspan: size }">
                <input class="book-bar-chk" type="radio" name="reservationGroup" data-bind="value: id, checked: $component.checkedId, attr: { id: 'res'+id }" />
                <label draggable="true" class="book-bar" data-bind="text: guest.surname + ' ' + guest.name, attr: { for: 'res'+id }"></label>
                <!--<span data-bind="text: offset"></span><span>-</span><span data-bind="text: size"></span>-->
            </td>
            <!-- /ko -->
        </tr>
    </tbody>
</table>