<!-- ko if: !loaded() -->
<loading></loading>
<!-- /ko -->
<div class="guest-list">
    <table class="grid-table" cellspacing="0">
        <thead>
            <tr>
                <!--<td></td>-->
                <td>ID</td>
                <td>Surname</td>
                <td>Name</td>
                <td>Date of birth</td>
                <td>Document ID</td>
                <td>Document type</td>
                <td>Country</td>
                <td>City</td>
                <td>Address</td>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: guests -->
            <tr data-bind="class: (gridMetaData.markedForUpdate() ? 'grid-marked-for-update' : '')">
                <!--<td><span data-bind=" text: $index"></span></td>-->
                <td><span data-bind=" text: id"></span></td>
                <td><input type="text" data-bind="value: surname " /><br /><span class="grid-error-msg" data-bind="text: gridMetaData.errors.errorTextForSurname"></span></td>
                <td><input type="text" data-bind="value: name" /><br /><span class="grid-error-msg" data-bind="text: gridMetaData.errors.errorTextForName"></span></td>
                <td><input type="date" style="max-width: 10em" data-bind="value: dateOfBirth" /><br /><span class="grid-error-msg" data-bind="text: gridMetaData.errors.errorTextForDateOfBirth"></span></td>
                <td><input type="text" style="max-width: 10em" data-bind="value: documentId" /><br /><span class="grid-error-msg" data-bind="text: gridMetaData.errors.errorTextForDocumentId"></span></td>
                <td><input type="text" style="max-width: 10em" data-bind="value: documentType" /><br /><span class="grid-error-msg" data-bind="text: gridMetaData.errors.errorTextForDocumentType"></span></td>
                <td><input type="text" maxlength="3" style="max-width: 3em" data-bind="value: country" /><br /><span class="grid-error-msg" data-bind="gridMetaData.errors.errorTextForCountry"></span></td>
                <td><input type="text" data-bind="value: city" /><br /><span class="grid-error-msg" data-bind="gridMetaData.errors.errorTextForCity"></span></td>
                <td><input type="text" data-bind="value: address" /><br /><span class="grid-error-msg" data-bind="gridMetaData.errors.errorTextForAddress"></span></td>
                <td class="del"><button data-bind="click: function(data, event) { $component.deleteFunction($index(), data, event) } ">Delete</button></td>
            </tr>
            <!-- /ko -->

            <tr><td colspan="9"></tr>
            <tr>
                <td colspan="9" class="butt">
                    <button data-bind="click: newFunction">Add</button>
                    <button data-bind="click: saveFunction">Save</button>
                    <button data-bind="click: refreshFunction">Refresh</button>
                </td>
            </tr>
        </tbody>
    </table>
    <page-number params='page: page, hasMorePages: hasMorePages, refreshFunction: refreshFunction'></page-number>
</div>