<div class="guest-list">
    <table>
        <thead>
            <tr>
                <td></td>
                <td>ID</td>
                <td>Surname</td>
                <td>Name</td>
                <td>Date of birth</td>
                <td>Document ID</td>
                <td>Document type</td>
                <td>Country</td>
                <td>City</td>
                <td>Address</td>
            </tr>
        </thead>
        <tbody data-bind="foreach: guests">
            <tr data-bind="class: (markedForUpdate() ? 'marked-for-update' : '')">
                <td><span data-bind=" text: $index"></span></td>
                <td><span data-bind=" text: id"></span></td>
                <td><input type="text" data-bind="value: surname " /></td>
                <td><input type="text" data-bind="value: name" /></td>
                <td><input type="date" style="max-width: 10em" data-bind="value: dateOfBirth" /></td>
                <td><input type="text" style="max-width: 10em" data-bind="value: documentId" /></td>
                <td><input type="text" style="max-width: 10em" data-bind="value: documentType" /></td>
                <td><input type="text" maxlength="3" style="max-width: 3em" data-bind="value: country" /></td>
                <td><input type="text" data-bind="value: city" /></td>
                <td><input type="text" data-bind="value: address" /></td>
                <td><button data-bind="click: function(data, event) { $component.deleteFunction($index(), data, event) } ">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <button data-bind="click: newFunction">Add</button>
    <button data-bind="click: saveFunction">Save</button>
    <button data-bind="click: refreshFunction">Refresh</button>
    <page-number params='page: page, hasMorePages: hasMorePages, refreshFunction: refreshFunction'></page-number>
</div>