
<div id="heD2">
    <img class="fade-in" src="../images/mg_logo_login_s.png" width="80" alt="Mateo Glavičić">
</div>


<div class="vertical-center">
    <div id="logIn">


        <!--<p class="log">LOGIN</p>-->

        <form action="" id="lo">

            <!--<label for="kIme">Korisničko ime</label><br>-->

            <input type="text" name="kIme" data-bind="value: username" class="koIme" placeholder="Unesite korisničko ime" required><br>

            <!--<label for="loz">Lozinka</label><br>-->

            <input type="password" name="loz" data-bind="value: password" class="loZz" placeholder="Unesite lozinku" required><br>

            <!--<div class="remem">

        <input type="checkbox" checked="checked" name="remember"> Zapamti me</label>

        </div>

        <div class="forget">

        <a href="#">Zaboravili ste lozinku?</a>

        </div>-->

            <button data-bind="click: login">Prijava</button>

        </form>


    </div>
</div>
