<div class="main-nav-bar">
    <table>
        <tr>
            <td class="main-nav-bar-home">
                <a href="index.html">Home</a>
            </td>
            <td class="main-nav-bar-search">
                <form data-bind="submit: search_function"><input type="text" data-bind="value: search" /></form>
            </td>
            <td class="main-nav-bar-search-button">
                <button data-bind="click: search_function">Traži</button>
            </td>
            <td class="main-nav-bar-novi-oglas">
                <button data-bind="text: 'Novi oglas', visible: show_novi_oglas, click: novi_oglas_action"></button> 
            </td>
            <td class="main-nav-bar-user">
                <button data-bind="text: username, click: authorization_action"></button> 
            </td>
        </tr>
    </table>
</div>