<div class="main-nav-bar">
    <table>
        <tr>
            <td class="main-nav-bar-home">
                <a href="index.html">Home</a>
            </td>
            <td class="main-nav-bar-search">
                <form data-bind="submit: searchFunction"><input type="text" data-bind="value: search" /></form>
            </td>
            <td class="main-nav-bar-search-button">
                <button data-bind="click: searchFunction">Traži</button>
            </td>
            <td class="main-nav-bar-user">
                <button data-bind="text: username, click: authorizationAction"></button> 
            </td>
        </tr>
    </table>
</div>