<!-- ko if: !loaded() -->
<loading></loading>
<!-- /ko -->
<div class="reservation-list">
    <table class="grid-table">
        <thead>
            <tr>
                <td></td>
                <td>ID</td>
                <td>Status</td>
                <td>Start date</td>
                <td>End date</td>
                <td>Service ID</td>
                <td>Property</td>
                <td>Guest</td>
                <td>Room Number</td>
                <!--public int? PreviousStay { get; set; }-->
                <!--public int? NextStay { get; set; }-->
            </tr>
        </thead>
        <tbody data-bind="foreach: reservations">
            <tr data-bind="class: (gridMetaData.markedForUpdate() ? 'grid-marked-for-update' : '')">
                <td><span data-bind=" text: $index"></span></td>
                <td><span data-bind=" text: id"></span></td>
                <td><input type="text" data-bind="value: status" /><br /><span class="grid-error-msg" data-bind="text: gridMetaData.errors.errorTextForStatus"></span></td>
                <td><input type="date" data-bind="value: startDate" /><br /><span class="grid-error-msg" data-bind="text: gridMetaData.errors.errorTextForStartDate"></span></td>
                <td><input type="date" data-bind="value: endDate" /><br /><span class="grid-error-msg" data-bind="text: gridMetaData.errors.errorTextForEndDate"></span></td>
                <td><input type="text" data-bind="value: serviceId" /><br /><span class="grid-error-msg" data-bind="text: gridMetaData.errors.errorTextForServiceId"></span></td>
                <!--<td><input type="number" data-bind="value: propertyId" /></td>-->
                <td><drop-down-list params="componentId: 'property1', id: propertyId, modelName: 'Properties', searchColumns: ['id', 'name'], valueFunction: (e) => e.id + ' - ' + e.name"></drop-down-list><span class="grid-error-msg" data-bind="text: gridMetaData.errors.errorTextForPropertyId"></span></td>
                <!--<td><input type="number" data-bind="value: guestId" /></td>-->
                <td><drop-down-list params="componentId: 'guest1', id: guestId, modelName: 'Guests', searchColumns: ['id', 'name', 'surname'], valueFunction: (e) => e.id + ' - ' + e.surname + ' ' + e.name"></drop-down-list><span class="grid-error-msg" data-bind="text: gridMetaData.errors.errorTextForGuestId"></span></td>
                <td><input type="number" data-bind="value: roomNumber" /><br /><span class="grid-error-msg" data-bind="text: gridMetaData.errors.errorTextForRoomNumber"></span></td>
                <td><button data-bind="click: function(data, event) { $component.deleteFunction($index(), data, event) } ">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <button data-bind="click: newFunction">Add</button>
    <button data-bind="click: saveFunction">Save</button>
    <button data-bind="click: refreshFunction">Refresh</button>
    <page-number params='page: page, hasMorePages: hasMorePages, refreshFunction: refreshFunction'></page-number>
</div>