<!-- ko if: !loaded() -->
<loading></loading>
<!-- /ko -->
<div class="container-list">
    <div class="room-type-list">
        <table class="grid-table" id="rt" cellspacing="0">
            <thead>
                <tr>
                    <td></td>
                    <td>ID</td>
                    <td>Name</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr><td colspan="4"></tr>
                <!-- ko foreach: roomTypes -->
                <tr data-bind="class: (gridMetaData.markedForUpdate() ? 'grid-marked-for-update' : '')">
                    <!--<td><span data-bind=" text: $index"></span></td>-->
                    <td></td>
                    <td><span data-bind=" text: id"></span></td>
                    <td><input type="text" data-bind="value: name" /><br /><span class="grid-error-msg" data-bind="text: gridMetaData.errors.errorTextForName"></span></td>
                    <td class="del"><button data-bind="click: function(data, event) { $component.deleteFunction($index(), data, event) } ">Delete</button></td>
                </tr>
                <!-- /ko -->

                <tr><td colspan="4"></tr>
                <tr>
                    <td colspan="4" class="butt">
                        <button data-bind="click: newFunction">Add</button>
                        <button data-bind="click: saveFunction">Save</button>
                        <button data-bind="click: refreshFunction">Refresh</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<page-number params='page: page, hasMorePages: hasMorePages, refreshFunction: refreshFunction'></page-number>
