body {
    margin: 0px;
    font-family: open sans;
    color: #555;
}


.main-container {
    margin: 0px;
    margin-bottom: 50px;
}


#heD {
    background-color: #444;
    padding: 10px 0px;
}


    #heD button {
        background-color: #444;
    }


#me {
    background-color: #777;
    text-align: right;
    margin: 0;
    padding: 3px 30px 3px 0px;
}


    #me button {
        background-color: #777;
        color: #fff;
    }


        #me button:hover {
            color: #fdc;
            cursor: pointer;
        }

button:hover {
    color: #fdc;
    cursor: pointer;
}


#infos {
    width: 90%;
    margin: 0px auto;
    background-color: #aaa;
    font-size: 0.9em;
}

.book-params {
    /*display:inline-block;*/
    float: left;
    margin: 100px 100px 50px 0px;
}

    .book-params button {
        background-color: #777;
        padding: 8px;
        border-radius: 2px;
    }

.book-details {
    /*display: inline-block;*/
    float: left;
    margin: 100px 0px 50px 0px;
}



.main-nav-bar {
    margin: 0;
    padding: 0;
    /*position: fixed;*/
    background-color: white;
    top: 0px;
}


    .main-nav-bar table {
        width: 100%;
    }

.main-nav-bar-home {
    width: 1%;
}

    .main-nav-bar-home img {
        display: block;
        margin: 10px 50px 10px 30px;
    }

    .main-nav-bar-home a {
        display: block;
        padding: 8px;
    }

.main-nav-bar-search {
    width: 50%;
}

    .main-nav-bar-search input {
        width: 100%;
    }

.main-nav-bar-search-button {
    width: 49%;
}

    .main-nav-bar-search-button button {
    }

.main-nav-bar-user {
    padding-right: 30px;
}


popup {
    visibility: hidden;
    z-index: 1;
}

.popup-containter {
    position: absolute;
    display: table;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 80, 80, 0.7);
}

.popup-middle {
    display: table-cell;
    vertical-align: middle;
}

.popup-view {
    margin: auto;
    background-color: white;
    width: 30%;
    text-align: center;
    padding: 4px;
}

.popup-subject {
}

.popup-text {
}

.popup-view button {
}

popup.show {
    visibility: visible;
}

dialog-yes-no {
    visibility: hidden;
    z-index: 1;
}

    dialog-yes-no.show {
        visibility: visible;
    }

login-popup {
    visibility: hidden;
    z-index: 1;
}

.login-popup-containter {
    position: absolute;
    display: table;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 80, 80, 0.7);
}

.login-popup-view {
    margin: auto;
    background-color: white;
    width: 30%;
    text-align: center;
    padding: 4px;
}

login-popup.show {
    visibility: visible;
}

.book-table {
    font-size: 0.9em;
    width: 90%;
    margin: 0px auto;
    clear: both;
}

.book-table, .book-row, .book-bar-td, .book-row-datumi td {
    /*border: 1px solid #eee;*/
    text-align: center;
    border-spacing: 0;
}


.book-row-datumi {
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    border: none;
    color: #fff;
    background-color: #2098B3;
}

    .book-row-datumi td {
        padding: 0px 7px;
        border: none;
    }

.idHotela, .brSobe {
    background-color: #08424C;
}

.book-bar-td {
    background-color: #6C8D93;
    color: #fff;
}

.book-bar-chk {
    visibility: hidden;
    margin: 0px;
    display: inline-block;
    width: 0%;
    height: 0%;
}

.book-bar {
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    /*display: inline-block;
    background-color: aqua;
    width: 50%;
    padding: 5px 0px;*/
}
/*
.book-bar-reserved {
    background-color: #bbb;
}

.book-bar-checked-in {
    background-color: #cc7799;
}*/

.color_cc7699 {
    background-color: #cc7799;
}

.color_b59caa {
    background-color: #b59caa;
}

.color_bba3c8 {
    background-color: #bba3c8;
}

.color_f6978a {
    background-color: #f6978a;
}

.color_fab27e {
    background-color: #fab27e;
}

.book-bar-chk:checked + .book-bar {
    color: #333;
    font-weight: bold;
}

.current-date {
    background-color: chartreuse;
}

.default-date {
    background-color: #2098B3;
}


.weekend-date {
    background-color: #fdc;
    color: #333;
    font-weight: bold;
}




.page-number-container {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #777;
}

    .page-number-container table {
        margin: auto;
    }

.grid-marked-for-update {
    background-color: crimson;
}

.grid-error-msg {
    color: white;
    font-weight: bold;
}

.drop-down-list-scroll-div {
    background-color: white;
    border: 1px solid gray;
}

.drop-down-list-ul {
    padding: 0;
    margin: 0px;
}

.drop-down-list-li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.drop-down-list-selected-item {
    background-color: silver;
}

.grid-table {
    border-spacing: 0px;
}

.grid-table td {
    vertical-align: top;
}

button {
    font-family: open sans;
    padding: 10px;
    background-color: #666;
    border: none;
    color: #fff;
    font-size: 0.9em;
    border-radius: 8px;
}



.main-nav-bar-search-button {
    padding: 5px 0px 5px 20px;
}


h3 {
    font-size: 0.9em;
}


/*
.footer {
    position: fixed;
	text-align: center;
    bottom: 0px;
    width: 100%;
    background-color: #666;
	padding: 14px 0px;
}

.footer button{
	margin: 0px 10px 0px 10px;
}
*/

.loader {
    margin: auto;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}