body{
    margin: 0px;
}

.root-container {

}

.main-container {
    margin: 0px;
    margin-bottom: 50px;
}

.main-nav-bar {
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: white;
    top: 0px;
}

.main-nav-bar table{
    width: 100%;
}

.main-nav-bar-home {
    width: 1%;
}

.main-nav-bar-home a {
    display: block;
    padding: 8px;
    background-color: aqua;
}

.main-nav-bar-search {
    width: 50%;
}

.main-nav-bar-search input {
    width: 100%;
}

.main-nav-bar-search-button {
    width: 49%;
}

.main-nav-bar-search-button button {
    
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: aqua;
}

popup {
    visibility: hidden;
    z-index: 1;
}

.popup-containter {
    position: absolute;
    display: table;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 80, 80, 0.7);
}

.popup-middle {
    display: table-cell;
    vertical-align: middle;
}

.popup-view {
    margin: auto;
    background-color: white;
    width: 30%;
    text-align: center;
    padding: 4px;
}

.popup-subject {

}

.popup-text {

}

.popup-view button {

}

popup.show {
    visibility: visible;
}

dialog-yes-no {
    visibility: hidden;
    z-index: 1;
}

dialog-yes-no.show {
    visibility: visible;
}

login-popup {
    visibility: hidden;
    z-index: 1;
}

.login-popup-containter {
    position: absolute;
    display: table;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 80, 80, 0.7);
}

.login-popup-view {
    margin: auto;
    background-color: white;
    width: 30%;
    text-align: center;
    padding: 4px;
}

login-popup.show {
    visibility: visible;
}

.book-table, .book-row, .book-bar-td, .book-row-datumi td {
    border: 1px solid black;
    border-spacing: 0;
    padding: 0px;
    margin: 0px;
}

.book-bar-chk {
    visibility: hidden;
    margin: 0px;
    display: inline-block;
    width:0%;
    height:0%;
}

.book-bar {
    cursor: pointer;
    display: inline-block;
    background-color: aqua;
    width: 99%;
    padding: 5px 0px;
}

.book-bar-chk:checked + .book-bar {
    background: red;
}

.current-date {
    background-color: chartreuse;
}
.weekend-date {
    background-color: aqua;
}

.book-params {
    display:inline-block;
    margin-left: 10px;
    margin-right: 20px;
}

.book-details {
    display: inline-block;
    margin-left: 10px;
}


.page-number-container {
    position: fixed;
    bottom: 20px;
    width: 100%;
    background-color: aqua;
}

    .page-number-container table {
        margin: auto;
    }

.marked-for-update{
    background-color: crimson;
}